.portfolio {
    min-height: 2186px;
    padding: 57px 0 80px 0;
    &__all {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #D22020;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        text-decoration: none;
        img {
            margin-left: 8px;
        }
    }
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__wrapper {
        margin-top: 42px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        width: 47%;
        &_cart {
            width: 675.59px;
            min-height: 513px;
            position: relative;
            border-radius: 8px;
            margin-top: 58px;
            cursor: pointer;
            img {
                max-width: 100%;
                height: auto;
            }
            p {
                transition: all .2s;
                &:hover {
                    color: rgb(194, 188, 188);
                }
            }
            a {
                text-decoration: none;
            }
        }
        &_descr {
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 130%;
            letter-spacing: -0.03em;
            color: #212529;
            margin-top: 12px;
        }
        &_subdescr {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 150%;
            color: #6C757D;
            margin-top: 2px;
        }
    }
}