.portfolio {
    min-height: 2186px;
    padding: 57px 0 80px 0;
    &__all {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #D22020;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        text-decoration: none;
        img {
            margin-left: 8px;
        }
    }
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__wrapper {
        margin-top: 42px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        width: 47%;
        &_cart {
            width: 675.59px;
            min-height: 513px;
            position: relative;
            border-radius: 8px;
            margin-top: 58px;
            cursor: pointer;
            p {
                transition: all .2s;
                &:hover {
                    color: rgb(194, 188, 188);
                }
            }
            a {
                text-decoration: none;
            }
            &_first {
                background: linear-gradient(90deg, #A18CD1 0%, #FBC2EB 100%), #EEEEEE;
                margin-top: 0;
            }
            &_second {
                background: linear-gradient(90deg, #FF9A9E 0%, #FAD0C4 99%, #FAD0C4 100%), #EEEEEE;
                margin-top: 0;
            }
            &_third {
                background: linear-gradient(90deg, #FFECD2 0%, #FCB69F 100%), #EEEEEE;
            }
            &_four {
                background: linear-gradient(90deg, #D4FC79 0%, #96E6A1 100%), #EEEEEE;
            }
            &_five {
                background: linear-gradient(90deg, #FDFBFB 0%, #EBEDEE 100%), #EEEEEE;
            }
            &_six {
                background: linear-gradient(90deg, #FFF1EB 0%, #ACE0F9 100%), #EEEEEE;
            }
            &_text {
                font-family: Inter;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: #FFFFFF;
                background: #212529;
                border-radius: 32px;
                position: absolute;
                bottom: 16px;
                left: 16px;
                min-width: 130px;
                min-height: 24px;
                padding: 5px;
                text-align: center;
                p {
                    font-family: Inter;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }
        }
        &_descr {
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 130%;
            letter-spacing: -0.03em;
            color: #212529;
            margin-top: 12px;
        }
        &_subdescr {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 150%;
            color: #6C757D;
            margin-top: 2px;
        }
    }
}